[Desktop Entry]
Version=1.0
Type=Application
Name=SysMind
Comment=AI-powered system monitoring desktop application
Comment[en_US]=AI-powered system monitoring desktop application
Exec=/home/ogunleye/Downloads/sysmind/build/bin/sysmind
Icon=sysmind
Terminal=false
Categories=System;Monitor;Utility;
StartupWMClass=sysmind
Keywords=system;monitor;performance;ai;cpu;memory;network;process;
X-AppImage-Version=dev
X-AppImage-BuildDate=2026-03-19
